# Configuration de la base de données
DATABASE_URL=mysql+pymysql://root@localhost:3306/kredia_db

# Clé API Alpha Vantage
ALPHA_VANTAGE_API_KEY=ACH9TF7OZXXUFNH0

# Intervalle de surveillance (en secondes)
MONITORING_INTERVAL=60

# Port du service
SERVICE_PORT=8002

# URL de l'API Spring Boot (pour les notifications email)
SPRING_API_URL=http://localhost:8081
